/* ANIMACION LINEA INFERIOR - NEGRA - IZQ A DERECHA APARECE*/
.lineaAnimacion::after {
  content: "";
  height: 1px;
  width: 0px;
  background-color: var(--text-color-default);
  display: block;
  transition: all 0.3s;
}

.lineaAnimacion:hover::after{
  width: 100%;
}

/* ANIMACION LINEA INFERIOR - BLANCA - IZQ A DERECHA APARECE*/
.lineaAnimacionBlanca::after {
  content: "";
  height: 1px;
  width: 0px;
  background-color: var(--white);
  display: block;
  transition: all 0.3s;
}

.lineaAnimacionBlanca:hover::after{
  width: 100%;
}

/* ANIMACION LINEA INFERIOR - NEGRA - DERECHA A IZQ DESAPARECE*/
.lineaAnimacionInversa::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--text-color-default);
  display: block;
  transition: all 0.3s;
}

.lineaAnimacionInversa:hover::after{
  width: 0px;
}