@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {
    --web-font-family: "DM Sans", sans-serif;
    --text-color-default: #000000;
    --white: #ffffff;
    --shadow: rgba(0, 0, 0, 0.2);

    --title-Big: 45px;
    --title-Medium: 35px;
    --title-Small: 25px;
    --text-medium: 20px;
    --text-small: 15px;
    --title-weight-more: 600;
    --title-weight: 500;
    --text-weight: 400;

    --margin-web: 150px;
    --header-height: 80px;
}