* {
    margin: 0;
    padding: 0;
    font-family: var(--web-font-family);
    color: var(--text-color-default);
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--text-color-default);
    padding: 50px;
}

.imgSocial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.topFooter {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footerLogo {
    width: 250px;
}

.footerSocial {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}

.footerSocial i {
    font-size: 22px;
    color: var(--white);
}

.footerLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerLinks a {
    color: var(--white);
    text-decoration: none;
    font-size: var(--text-small);
    font-family: var(--web-font-family);
    display: inline-block;
}

.footerLinks p {
    margin: 0;
}

.botFooter .footerText {
    color: var(--white);
    filter: opacity(0.6);
}

/* Response */

@media (max-width: 640px) {
    .footerLogo {
        width: 150px;
    }
}