:root {
    --web-font-family: "DM Sans", sans-serif;
    --text-color-default: #000000;
    --white: #ffffff;
    --title-Big: 45px;
    --title-Medium: 35px;
    --title-Small: 25px;
    --text-medium: 20px;
    --text-small: 15px;
    --title-weight: 500;
    --text-weight: 300;

    --margin-web: 150px;
    --header-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--web-font-family);
    color: var(--text-color-default);
}

/* MAIN */
main {
    width: 100vw;
    font-family: var(--web-font-family);
}

.separacionBordes {
    /* margin: 0 var(--margin-web); */
    width: 100%;
}

/* carousel */
.carouselBox {
    margin-top: var(--header-height);
    height: 500px;
    overflow: hidden;
}

.itemCarosuel {
    height: 100%;
}

.carouselBox .itemCarosuel img {
    height: 100%;
    object-fit: cover;
}

/* marcas items */
.Categoria {
    margin: 30px var(--margin-web);
}

.tituloCategoria {
    font-family: var(--web-font-family);
    font-weight: var(--title-weight);
    font-size: var(--title-Small);
}

.contenido {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: var(--padding-web);
    gap: 20px;
}

.item {
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.item img{
    position: relative;
    transition: height 0.5s;
    height: 75%;
}

.item:hover img {
    height: 68%;
}

.item:hover {
    cursor: pointer;
}

.item p {
    position: absolute;
    display: none;
}

.itemLink {
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}