:root {
    --web-font-family: "DM Sans", sans-serif;
    --text-color-default: #000000;
    --title-Big: 60px;
    --title-Medium: 45px;
    --title-Small: 30px;
    --text-medium: 20px;
    --text-small: 15px;
    --padding-web: 150px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--web-font-family);
    color: var(--text-color-default);
}

/* MAIN */

.carouselBox {
    height: 500px;
    overflow: hidden;
}

.itemCarosuel {
    height: 100%;
}

.carouselBox .itemCarosuel img {
    height: 100%;
    object-fit: cover;
}